services:
  api:
    build: .  
    ports:
      - "8000:80" 
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis/redis-stack-server:latest 
    ports:
      - "6379:6379"